Repository sktime/skpro, pull requests merged in 2024-07, with the labels that each got.

#410 [ENH] Multiclass classification reduction using Histograms
  docs/source/api_reference/regression.rst
  skpro/regression/binned/__init__.py
  skpro/regression/binned/_sklearn_bin_regressor.py
Labels: enhancement, implementing algorithms

#434 [MNT] sync differential testing utilities with `sktime`
  skpro/tests/test_switch.py
  skpro/utils/git_diff.py
Labels: maintenance, module:tests

#432 [ENH] Syncing datatypes module `_check.py` and `_convert.py` with `sktime`
  skpro/datatypes/_check.py
  skpro/datatypes/_convert.py
Labels: enhancement, module:datatypes

#435 [ENH] differential testing for CI tests
  skpro/benchmarking/tests/test_evaluate.py
  skpro/datatypes/tests/test_check.py
  skpro/datatypes/tests/test_convert.py
  skpro/datatypes/tests/test_convert_to.py
  skpro/datatypes/tests/test_lookup.py
  skpro/datatypes/tests/test_polars.py
  skpro/distributions/tests/test_base_default_methods.py
  skpro/distributions/tests/test_base_scalar.py
  skpro/distributions/tests/test_empirical.py
  skpro/distributions/tests/test_proba_basic.py
  skpro/distributions/tests/test_qpd.py
  skpro/tests/test_ensemble.py
  skpro/utils/tests/test_plots.py
Labels: enhancement, module:tests

#436 [MNT] fix `numpy 2` incompatibility of `Pareto` distribution
  skpro/distributions/pareto.py
Labels: maintenance, module:probability&simulation
