Repository sktime/skpro, pull requests merged in 2025-09, with the labels that each got.

#592 [ENH] replace apply linalg norm with native pandas ufuncs
  .all-contributorsrc
  skpro/distributions/base/_base.py
Labels: enhancement, module:metrics&benchmarking

#584 [MNT] update `numpy` bound to `numpy<2.4`
  pyproject.toml
Labels: maintenance

#586 [DOC] improved docstring for `HistBinnedProbaRegressor`
  skpro/regression/binned/_sklearn_bin_regressor.py
Labels: module:regression, documentation

#593 Release 2.9.4
  README.md
  docs/source/_static/switcher.json
  docs/source/changelog.rst
  pyproject.toml
  skpro/__init__.py
Labels: maintenance, release

#595 [MNT] temporarily skip sporadic `GLMRegressor` test failure
  skpro/regression/linear/_glm.py
Labels: maintenance, module:regression

#598 [ENH] export all distributions in `skpro.distributions`, minor fixes to API reference
  docs/source/api_reference/distributions.rst
  skpro/distributions/__init__.py
  skpro/distributions/qpd.py
Labels: enhancement, module:probability&simulation

#599 [ENH] Add Beta Distribution to XGBoostLSS
  skpro/regression/xgboostlss.py
Labels: enhancement, module:regression

#606 [DOC] minor docstring formatting in survival predictor extension template
  extension_templates/survival.py
Labels: documentation, module:survival&time-to-event
